<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body style="background-color:aliceblue;"/>
<!--Title-->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<!---->
<!--text style-->
<meta charset="UTF-8">
<title>Blog</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!---->
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div class="container">
    Result:
    <p></p>
    <!--<form action="/findById" method="post">-->
    <!--<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
        <!--{{#messages}}-->
    <!--<div>-->
    <!--<span>Your user ID: {{id}}</span>-->
    <!--<strong>({{authorName}})</strong>-->
    <!--<i>({{tag}})-</i>-->
    <!--<b>{{text}}</b>-->
    <!--</div>-->
        <!--{{/messages}}-->
    <form action="/findById" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        {{#messages}}
            <div>
            User ID: <span>{{id}}</span>
            User Name:<strong> ({{authorName}})</strong>;
            Tag:<i>({{tag}})</i> <br>
            Blog Context:<b>{{text}}</b> <br><br><br>
            </div>
        {{/messages}}
    </form>
    </form>

    <div>
        <form action="/findByIdTest" method="post">
            <p></p>
            {{#messages}}

                Updete your message:
                <input type="text" required name="text" placeholder="Update message text:"/>
                <!-- <input type="text" name="tag" placeholder="Tag">-->
                <input type="hidden" name="id" value=" {{id}}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Save</button>
            {{/messages}}
        </form>
    </div>


    <form action="/main">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Back"/>
    </form>
</div>
</body>
</html>